/MakamRecordingOld.pyc
/MakamScoreOld.pyc
/SymbTrParserOld.pyc
/_SymbTrParserBaseOld.pyc
/__init__.pyc
/extendSectionLinksNewMetadata.pyc
/fetchSymbTrFromGithub10SarkiTestDataset.pyc
/testAllRecordings.pyc
